// main.scss
// =========
@import "~normalize.css";
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import '~font-awesome/css/font-awesome.css';

html, body, #root, #root > div {
  height: 100%;
}

body {
  margin: 0;
  font-family: Montserrat, Georgia, 'Times New Roman', Times, serif !important;
  background-color: #f8f8f8 !important;
  color: #404E67 !important;
  font-size: 14px !important;
}