@import '~flag-icon-css/css/flag-icon.css';

.headerComponent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  padding: 0;
  background: #FFF;
  box-shadow: 2px 4px 20px -4px rgba(0,0,0,.1);
  .trigger {
    font-size: 18px;
    padding: 0 16px;
    cursor: pointer;
    transition: color .3s;
    &:hover {
      color: #108ee9;
    }
  }
  .ant-menu {
    margin-right: 16px;
    line-height: 4rem;
  }
  .langLink {
    > div {
      padding: 0 10px 0 10px;
      i {
        margin: 0 0 0 10px;
      }
    }
  }
  .userLink {
    > div {
      padding: 0 10px;
    }
    span {
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        margin-right: 10px;
        width: 30px;
        border-radius: 50%;
        vertical-align: middle;
      }
      i {
        margin: 0 0 0 10px;
      }
    }
  }
}